# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
test-output
.metadata

# Gradle
build/
bin/
.springBeans
.gradle

# Bower
jquery
bootstrap
