<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<title>All events</title>
</head>
	<body>
		<h1 layout:fragment="header" th:text="${event.event.name}">Events</h1>
		<div layout:fragment="content" class="container">
			<p th:text="${event.event.description}"></p>
			
			<a class="btn btn-info" th:href="${event.purchase.href}">Purchase tickets&nbsp;<span class="badge">30</span></a>
		</div>
	</body>
</html>