<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<title>All events</title>
</head>
	<body>
		<h1 layout:fragment="header">Order Confirmation</h1>
		<div layout:fragment="content" class="container">
			<strong>Order summary</strong>
			<p>
				Please verify your order
			</p> 
			
			<h6>Details of your order are presented below</h6>
			<h5><small>Event: </small><span th:text="${order.event.name}"></span></h5>
			<h5><small>seats: </small><span th:text="${order.numberOfTickets}"></span></h5>
			<h4><small>Total price: </small><span th:text="${order.price}"></span></h4>
			<form action="/confirm" th:method="POST">
				<button type="submit" class="btn btn-info">Purchase tickets</button>
			</form>
		</div>
	</body>
</html>