<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
	<title>All events</title>
</head>
	<body>
		<h1 layout:fragment="header">Place order for <span th:text="${event.name}"></span></h1>
		<div layout:fragment="content" class="container">
			<form th:action="${form.confirmation.href}" th:object="${form}" th:method="POST">
				<div class="form-group">
  					<label for="tickets">Number of tickets:</label>
  					<input name="tickets" type="number" min="1" max="10" th:field="*{seats}"/>
  					<input name="eventId" type="hidden" th:field="*{eventId}"></input>
  				</div>
	  			<button type="submit" class="btn btn-success">Purchase tickets</button>
			</form>
		</div>
	</body>
</html>